<div>
  <h1>{{alunoInfos[0]?.nome}}</h1>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Faltas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-table [dataSource]="falta">
          <ng-container matColumnDef="dia">
            <th mat-header-cell *matHeaderCellDef class="ps-0 w-50">Dia</th>
            <td mat-cell *matCellDef="let teste" class="ps-0 ">{{teste.date}}</td>
          </ng-container>

          <ng-container matColumnDef="materia">
            <th mat-header-cell *matHeaderCellDef class="w-50 teste">Materia</th>
            <td mat-cell *matCellDef="let teste" class="teste">{{teste.materia}}</td>
          </ng-container>

          <ng-container matColumnDef="horario">
            <th mat-header-cell *matHeaderCellDef class="w-25">horario</th>
            <td mat-cell *matCellDef="let teste" class="text-center">{{teste.horario}}</td>
          </ng-container>

          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef class="text-center ps-2">Jusificar</th>
            <td mat-cell *matCellDef="let teste" class="ps2">
              <div class="ps-2">
                <button class="btn btn-primary" (click)="openJustificarFaltas()">Jusificar</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="h-50 w-100"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="align-middle"></tr>
        </mat-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <div>
    <a href="https://web.whatsapp.com/" target="_blank">Eviar mensagem</a>
  </div> -->
</div>
