<div>
  <h1 class="text-center">Aluno</h1>
  <form [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Nome do Aluno</mat-label>
      <input type="text" matInput formControlName="nome" autocomplete="off">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Número dos responsáveis</mat-label>
      <input type="text" matInput formControlName="numeroDoResponsavel" minlength="11" maxlength="11" autocomplete="off">
    </mat-form-field>
  </form>
  <div>
    <button (click)="close()" class="btn btn-danger me-3">Fechar</button>
    <button (click)="addAluno()" [disabled]="form.invalid" class="btn btn-success">Adicionar</button>
  </div>
</div>
