<div>
    <mat-table [dataSource]="alunos" class="border shadow">
        <ng-container matColumnDef="numeroDoAluno">
          <th mat-header-cell *matHeaderCellDef class="px-3 border-end">No.</th>
          <td mat-cell *matCellDef="let teste" class="border-end">{{teste.numero}}</td>
        </ng-container>
    
        <ng-container matColumnDef="nomes">
          <th mat-header-cell *matHeaderCellDef class="px-2 border-end">Nome</th>
          <td mat-cell *matCellDef="let teste" class="w-25 px-2 border-end">{{teste.nome}}</td>
        </ng-container>

        <ng-container matColumnDef="1">
          <th mat-header-cell *matHeaderCellDef class="border-end text-center">1</th>
          <td mat-cell *matCellDef="let teste">
              <div class="border-end py-3">
                  <mat-radio-group aria-label="presenca" class="d-flex px-3" color="primary">
                    <mat-radio-button value="P" class="pe-3">P</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                  </mat-radio-group>
              </div>
          </td>
        </ng-container> 

        <ng-container matColumnDef="2">
          <th mat-header-cell *matHeaderCellDef class="border-end text-center">2</th>
          <td mat-cell *matCellDef="let teste">
              <div class="border-end py-3">
                  <mat-radio-group aria-label="presenca" class="d-flex px-3" color="primary">
                    <mat-radio-button value="P" class="pe-3">P</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                  </mat-radio-group>
              </div>
          </td>
        </ng-container> 

        <ng-container matColumnDef="3">
          <th mat-header-cell *matHeaderCellDef class="border-end text-center">3</th>
          <td mat-cell *matCellDef="let teste">
              <div class="border-end py-3">
                  <mat-radio-group aria-label="presenca" class="d-flex px-3" color="primary">
                    <mat-radio-button value="P" class="pe-3">P</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                  </mat-radio-group>
              </div>
          </td>
        </ng-container> 

        <ng-container matColumnDef="4">
          <th mat-header-cell *matHeaderCellDef class="border-end text-center">4</th>
          <td mat-cell *matCellDef="let teste">
              <div class="border-end py-3">
                  <mat-radio-group aria-label="presenca" class="d-flex px-3" color="primary">
                    <mat-radio-button value="P" class="pe-3">P</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                  </mat-radio-group>
              </div>
          </td>
        </ng-container> 

        <ng-container matColumnDef="5">
          <th mat-header-cell *matHeaderCellDef class="border-end text-center">5</th>
          <td mat-cell *matCellDef="let teste">
              <div class="border-end py-3">
                  <mat-radio-group aria-label="presenca" class="d-flex px-3" color="primary">
                    <mat-radio-button value="P" class="pe-3">P</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                  </mat-radio-group>
              </div>
          </td>
        </ng-container> 

        <ng-container matColumnDef="6">
          <th mat-header-cell *matHeaderCellDef class="text-center">6</th>
          <td mat-cell *matCellDef="let teste">
              <div class="py-3">
                  <mat-radio-group aria-label="presenca" class="d-flex px-3" color="primary">
                    <mat-radio-button value="P" class="pe-3">P</mat-radio-button>
                    <mat-radio-button value="F">F</mat-radio-button>
                  </mat-radio-group>
              </div>
          </td>
        </ng-container> 
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="align-middle"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="align-middle"  routerLink="aluno"></tr>
      </mat-table>
</div>