<div>
    <h1 class="text-center">Editar Turma</h1>
    <form [formGroup]="form">
        <mat-form-field class="w-100">
            <mat-label>Nome da turma</mat-label>
            <input type="text" matInput formControlName="nome">
            <mat-error *ngIf="form.controls['nome']">{{error()}}</mat-error>
        </mat-form-field>
    </form>
    <div mat-dialog-actions>
        <button (click)="close()" class="btn btn-danger me-3">Fechar</button>
        <button [disabled]="form.controls['nome'].invalid" (click)="updateTurma()" class="btn btn-success">Atualizar</button>
    </div>
</div>