  @media (max-width:576px) {
    .teste {
        flex-direction: column;
    }

    .teste2 {
        width: 100%;
    }
  }
  
  @media (min-width: 577px) and (max-width:991px) {
    .teste2 {
        width: 100%;
    }
  }