<div class="container m-0">
  <div *ngIf="turmas" class="row gx-4 turmas">
    <div class="col-3 px-2 pb-3 turma" *ngFor="let turma of turmas">
      <mat-card (click)="findId(turma.nome)" class="pointer">
        <button *ngIf="!notAdmin" class="btn float-end" [matMenuTriggerFor]="menu">
          <mat-icon>more_horizontal</mat-icon>
        </button>
        <h1 class="pb-2 mb-0" (click)="selectedTurma(turma.nome)">{{turma.nome}}</h1>
      </mat-card>
    </div>
  </div>
</div>
<div>
  <mat-menu #menu="matMenu" class="px-2 pt-0">
    <button mat-menu-item (click)="openUpdateTurma()" class="border-bottom" >Editar Turma</button>
    <button mat-menu-item (click)="removeTurma()">Remover Turma</button>
  </mat-menu>
</div>