.pointer {
  cursor: pointer;
    }

@media (max-width:576px) {
    .turmas {
        flex-direction: column;
    }

    .turma {
        width: 100%;
    }
  }
  
  @media (min-width: 577px) and (max-width:991px) {
    .turma {
        width: 100%;
    }
  }