@media (max-width:576px) {
  .index {
    padding: 0 20px !important;
  }

  .nome {
    width: 200px !important;
    margin-bottom: 0;
  }
  
  .email {
    padding: 0 10px;
    width: 200px !important;
    margin-bottom: 0;
  }
}