<app-login *ngIf="login == false" (isLogged)="recive($event)"></app-login>
<div *ngIf="login == true">
  <app-head *ngIf="!res" (sidebar)="sidebarToggle($event)" [sidebarStatus]="sidebar"></app-head>
  <mat-drawer-container class="height">
    <!-- Sidebar -->
    <mat-drawer [mode]="sidebarMode" opened="{{sidebar}}" class="p-4 h-100 shadow sidebar" *ngIf="!res">
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <!-- O componente do meio -->
    <mat-drawer-content class="p-4 view">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>