<div class="d-flex align-items-center justify-content-center h-100 w-100">
    <form *ngIf="!login" class="border rounded col-3 d-flex flex-column p-4 shadow form" [formGroup]="formSignin">
        <h1 class="text-center">Login</h1>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" type="text" matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input formControlName="password" type="text" matInput>
        </mat-form-field>
        <button [disabled]="formSignin.invalid" class="btn btn-primary mt-3" (click)="onSignin()">Entrar</button>
        <a class="mt-3" (click)="login = true">Não sou funcionario</a>
    </form>

    <form *ngIf="login" class="border rounded col-3 d-flex flex-column p-4 shadow form" [formGroup]="notAdmin">
        <h1 class="text-center">Login do Aluno</h1>
        <mat-form-field>
            <mat-label>Nome completo do aluno</mat-label>
            <input type="text" matInput formControlName="nome">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Turma do aluno</mat-label>
            <input type="text"
                   placeholder="Escolha um"
                   aria-label="Number"
                   matInput
                   formControlName="turmas"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let turma of turmas" [value]="turma">
                {{turma}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        <button [disabled]="notAdmin.invalid" class="btn btn-primary" (click)="alunoLogin()">Entrar</button>
        <a class="mt-3" (click)="login = false">Sou um funcionario</a>
    </form>
</div>
