@media (max-width: 280px) {
    .form {
        width: 15rem;
    }
  }

@media (min-width: 281px) and (max-width:576px) {
    .form {
        width: 20rem;
    }
  }
  
  @media (min-width: 577px) and (max-width:991px) {
    .form {
        width: 22rem;
    }
  }