<div>
    <h1 class="text-center">Adicionar Turma</h1>
    <form [formGroup]="form">
        <mat-form-field class="w-100 mb-3">
            <mat-label>Nome da turma</mat-label>
            <input type="text" matInput formControlName="nome">
        </mat-form-field>

        <mat-radio-group (change)="turnos($event)" color="primary"  formControlName="teste">
            <mat-radio-button class="me-2" value="Matutino">Matutino</mat-radio-button>
            <mat-radio-button class="me-2" value="Verspetino">Verspetino</mat-radio-button>
            <mat-radio-button value="Noturno">Noturno</mat-radio-button>
        </mat-radio-group>
    </form>
    <div mat-dialog-actions class="mt-2">
        <button (click)="close()" class="btn btn-danger me-3">Fechar</button>
        <button [disabled]="form.controls['nome'].invalid" (click)="addTurma()" class="btn btn-success">Adicionar</button>
    </div>
</div>