<div class="p-4">
  <button class="btn w-100 text-start ps-0">
    <h2 class="mb-1 fs-5 pointer" routerLink="">Turmas</h2>
  </button>
  <div class="d-flex justify-content-between">
    <mat-form-field [formGroup]="search">
      <mat-label>Pesquisar turma</mat-label>
      <input type="text" matInput formControlName="search" (keyup)="searchs()">
    </mat-form-field>
  </div>
  <ul class="navbar-nav mb-2 px-0">
    <li class="nav-item" *ngFor="let turma of newTurmas" (click)="selectedTurma(turma.nome)">
      <button class="navBtn border-0 w-100 text-start rounded-0 p-2">
        <a class="nav-link link-dark fs-6 pointer">{{turma.nome}}</a>
      </button>
    </li>
  </ul>
</div>
<mat-divider *ngIf="!notAdmin"></mat-divider>
<div class="d-flex flex-column" *ngIf="!notAdmin">
  <button class="navBtn border-0 px-4 py-3 text-start" (click)="openAddTurma()">Adicionar turma</button>
  <mat-divider></mat-divider>
  <button class="navBtn border-0 px-4 py-3 text-start" routerLink="signup">Adicionar Usuarios</button>
  <mat-divider></mat-divider>
  <button class="navBtn border-0 px-4 py-3 text-start" routerLink="perfis">Perfis disponiveis</button>
  <mat-divider></mat-divider>
</div>